[core]
	autocrlf = true
	pager = less -r
[alias]
	cf = config
	cfl = config --list
	s = status
	a = add .
	l = log --oneline --graph
	la = log --oneline --graph --all
	last = log -1 HEAD
	c = commit
	cm = commit -m
	ca = commit --amend -m
	can = commit --amend --no-edit
	co = checkout
	cp = cherry-pick
	b = branch
	m = merge
	mnf = merge --no-ff
	rs = reset
	rs0h = reset HEAD --hard
	rs1 = reset HEAD~1
	rs1h = reset HEAD~1 --hard
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	rm = remote
	r = remote -v
	ra = remote add
	rr = remote remove
	p = push
	pl = pull
[credential]
	helper = wincred
[init]
	defaultBranch = main
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[commit]
	gpgSign = false
[tag]
	gpgSign = false
